.form {
    margin-top: -5px;
}

.custom-file label::after {
    content: none;
}

.custom-file label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding-right: 0;
}

/* For logout button */
.nav-link.logout {
    display: flex;
    align-items: center;
}

.nav-link.logout i {
    margin-right: 2px;
}

.tap-pane {
    display: none;
}

.table-center td:last-child,
.table-center th:last-child {
    text-align: center;
}

/* District */
.required {
    color: #ff0000;
}

.date::-webkit-calendar-picker-indicator {
    color: transparent;
    background-image: url("/img/date.svg");
    background-position: center;
    background-size: cover;
    /*z-index: 1;*/
}
